{% extends 'base.html.twig' %}

{% block title %}
    Liste des salles
{% endblock %}

{% block body %}
    <div>
        <button class="btn btn-primary btn-block m" type="button" onclick="location.href='{{ path('ajoutersalle') }} ';"><i class="fa fa-paste"></i> Ajouter salle </button>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="table-responsive">

                            <form method="post" action="{{ path('searchNum') }}">
                                <h3><i class="fa fa-angle-right"></i> Chercher par numéro salle</h3>
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" name="find">
                                    <input class ="btn btn-primary btn-sm" type="submit" value="Chercher ! ">
                                </div>
                            </form>
                            <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover" >
                                <thead>
                                <tr>
                                    <th> Numéro salle </th>
                                    <th> Nombre de places</th>
                                    <th> Description</th>
                                    <th> Modifier </th>
                                    <th> Supprimer </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr {% for s in salle %}>
                                    <td> {{ s.numsalle }}</td>
                                    <td> {{ s.nbreplace }}</td>
                                    <td> {{ s.description }}</td>
                                    <td> <button class="btn btn-info  " type="button" onclick="location.href='{{ path('update',{'idsalle':s.idsalle}) }} ';"><i class="fa fa-paste"></i> Modifier </button></td>
                                    <td> <button class="btn btn-warning " type="button"  onclick="location.href='{{ path('d',{'idsalle':s.idsalle}) }}';"><i class="fa fa-warning"></i> <span class="bold">Supprimer</span></button></td>
                                </tr {% endfor %}>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('/theme/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('/theme/js/popper.min.js') }}"></script>
    <script src="{{ asset('/theme/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/theme/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('/theme/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('/theme/js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('/theme/js/plugins/dataTables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('/theme/js/inspinia.js') }}"></script>
    <script src="{{ asset('/theme/js/plugins/pace/pace.min.js') }}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},
                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>
    {% block path %}
        <h1>Liste des salles </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Listesalle.html.twig">Liste des salles</a>
            </li>
        </ol>
    {% endblock %}
{% endblock %}
