{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <h1>Employe</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td id="id_user">{{ employe.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ employe.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ employe.prenom }}</td>
        </tr>
        <tr>
            <th>Tache</th>
            <td>{{ employe.tache }}</td>
        </tr>
        <tr>
            <th>Salaire</th>
            <td>
                <input placeholder="{{ employe.salaire }}" id="1A"></td>{{ employe.numCarte }}
        </tr>
        <tr>
            <th>NumCarte</th>
            <td>
                <input  placeholder="{{ employe.numCarte }}" id="1B"></td>
        </tr>

        </tbody>
    </table>


    <a href="{{ path('employe_index') }}">back to list</a>
    <br/>
    <br/>


    <button type="submit" class="btn btn-primary"  onclick="payer()">Valider</button>


    <script >
        function payer (){
            a = document.getElementById("1A").value;
            b = document.getElementById("1B").value;
            c = document.getElementById("id_user").value;
            let url = "http://127.0.0.1:8000/employe/payer/";
            let xhr = new XMLHttpRequest();
            xhr.open("POST",url);
            xhr.send(JSON.stringify(a));

        }
    </script>
{% endblock %}
