{% extends 'front.html.twig' %}

{% block title %}Reclamations Produits{% endblock %}

{% block container %}

    <table class="table">
        <tbody>
            <tr>
                <th>ID reclamation</th>
                <td>{{ recprod.recpid }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ recprod.nomprod }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ recprod.email }}</td>
            </tr>
            <tr>
                <th>Reclamation</th>
                <td>{{ recprod.reclprod }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ recprod.status }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger " type="button"  onclick="location.href='{{ path('supprecp',{'id':recprod.recpid}) }}';"><i class="fa fa-warning"></i> <span class="bold">supprimer</span></button>


    <a href="{{ path('listrecp') }}">Voir les reclamations</a>
{% endblock %}
